name: Java CI with Gradle
env:
  PROJECT_NAME: dalent_codedeploy 

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

jobs:
  build:
    name: BUILD
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
      
    - name: Grant execute permission for gradlew
      run: cd api && chmod +x gradlew
      shell: bash
    
    - name: Build with Gradle
      run: ./api/gradlew build -p=api && cd api && ls -al
      shell: bash
